.BestSellersItem {
    width: 15%; /* Збільшуємо ширину для кращого вигляду */
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь для кращого вигляду */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.BestSellersItem:hover {
    transform: translateY(-5px); /* Легке підняття при ховері */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Сильніша тінь при ховері */
}

.BestSellersItem img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.BestSellersItem h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.BestSellersItem p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.BestSellersItem button {
    padding: 12px 20px;
    font-size: 14px;
    background-color: #ffb300;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
}

.BestSellersItem button:hover {
    background-color: #ffa000; /* Темніший відтінок жовтого при ховері */
    transform: translateY(-2px); /* Легке підняття кнопки */
}

.BestSellersItem button:focus {
    outline: none;
}

.BestSellersItem .favIcon {
    color: red;          /* Колір серця */
    cursor: pointer;     /* Курсор у вигляді руки при наведенні */
    transition: transform 0.3s ease, color 0.3s ease;  /* Анімація для ефекту */
    margin-top: 10px;
}

.BestSellersItem .favIcon:hover {
    transform: scale(1.2); /* Легке збільшення іконки при ховері */
    color: #e60000; /* Темніший червоний колір при ховері */
}

.BestSellersItem .favIcon:focus {
    outline: none; /* Видалення контурів при фокусі */
}
